body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-weight: 500;
}

header {
    margin-bottom: 40px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: #013D7D;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.purple-text {
    color: #761ca0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}

a.button {
    text-decoration: none;
    background-color: #761ca0;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a.button:hover {
    background-color: #0250A8;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.video-background video{
      position: fixed;
      top: 0;
      left: 0;
      z-index: -100;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }

.video-background::after{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: -99;
    }