<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Unbound</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="content-wrapper">
  <header>
    <h1><span class="purple-text">Un</span>Bound</h1>
  </header>

  <main>
    <div class="button-container">
      <a href="create-plan.html" class="button">Create a Plan</a>
      <a href="pay-plan.html" class="button">Pay for Plan</a>
    </div>
  </main>
</div>

  <div class="video-background">
    <video autoplay loop muted plays-inline>
      <source src="{{ url_for('static', filename='videos/Plane.mp4') }}" type="video/mp4">
  </video>
</div>
</body>
</html>